@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fontColor: white;
    --mainColor:#93C444;
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}
.main_container{
    width: 100%;
    min-height: 100vh;
}
.nesteddiv_1,.conatiner2{
    width: 100%;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.socialmediaicons a{
    color: var(--fontColor);
    padding-left: 0.1rem;
}
.socialmediaicons a i{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 50%;
}
/* conatiner 1 and part two right side */
.contactlink{
    padding-right: 20px;
}
.contactlink a{
    color: var(--fontColor);
}

.contactlink a:hover,.socialmediaicons a:hover{
    color: var(--mainColor) !important;
}

.contactlink a i{
    color: var(--mainColor);
}
.btn-navbar{
    background-color: var(--mainColor);
    padding: 6px 20px !important;
    color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 4px;
    text-transform: uppercase;
}


/* conatiner2 */
.conatiner2{
    background-color: white;
    min-height: 60px;
}
.conatiner2 img{
    cursor: pointer;
}
.links2 a{
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
.links2 a:hover{
    color: var(--mainColor);
}
@media (max-width:990px) {
   .links2{
    display: none;
   } 
}


.conatiner3{
    background-image: url('./Images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    min-height:70vh;

}
.conatiner3 img{
    /* width: 100%; */
}
.content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.content>h1{
    width: 100%;
    font-size: 55px;
    text-transform: uppercase;
}
.content p{
    font-weight: 300;
}
.content a{
    text-decoration: none;
    color: black;
    background-color: #febd19;
    box-shadow: 0px 3px 1px #FE831C;
    width: 150px;
    padding: 10px 20px;
}
.mainDot{
    height: 100%;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
   
}
.dots{
    background-color: white;
    width: 5px;
    height: 8px;
    padding-right: 40px;
    border-radius: 50px;
    margin-top: 100px;
}
.lightDots{
    background-color: rgba(256, 256, 256, 0.6);
}
@media (max-width:745px) {
    .centerContantNumber{
        display: none !important;
    }
    .nesteddiv_1{
        padding-left: 10px;
    }
    .content{
        width: 80%;
    }
}
@media (max-width:552px) {
    .nesteddiv_1{
        flex-direction: column;
    }  
}
@media (max-width:350px){
   .contactlink a{
       font-size: 13px;
   }
   .btn-navbar{
       padding-top: 8px !important;
   }
   .dots{
       margin-top: 80px;
   }
}