/* conatiner 4 start here */
:root{
    --mainColor: #93C444;
}
.conatiner4{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.content_conatiner4{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.content_conatiner4 h1,.container5 h1, .container6 h1, .contentBox h4, .cont7_content h1, .containr8content h1, .cont9_content h1, .cont10_content h1, .cont_11content h1{
  text-transform: uppercase;
}
.content_conatiner4 h1 span,.container5 h1 span, .container6 h1 span, .cont7_content h1 span,.containr8content h1 span, .cont9_content h1 span, .cont10_content h1 span {
    color: var(--mainColor);
}
.multiimagesPortion{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.specImage{
    text-transform: uppercase;
}
.specImage img{
    width: 60%;
}
.specImage p{
    padding-top: 20px;
}



/* container5 */
.container5{
    width: 100%;
   text-align: center;
}
.container5 h1{
   padding-top: 30px;
   z-index: 10 !important;
   position: relative;
   top: 80px;
   left: -20px;
}
.contentDiv{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
    margin-bottom: 10px;
    background-color: lightgrey;
}
.nestedcontainer5_1{
    width:50%;
    padding-left: 20px;
    margin-top: 60px;
}

.nestedcontainer5_2{
    width: 50%;
}
.nestedcontainer5_2 img{
    width: 100%;
    height: 70vh;

}

/* container6 */
.container6{
    width: 100%;
   text-align: center;
   margin-top: 50px;
   margin-bottom: 10px;
}
.nestedfirstcontent6{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.boxesofStar{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.nestedBox{
    padding-right: 10px;
    
}
.nestedBox img{
    z-index: 1;
}
.contentBox{
    /* border: 1px solid gray; */
    padding: 20px 20px;
    margin-top: -20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    gap: 10px;
}
.contentBox p{
    color: grey;
}
.contentBox a{
    color: var(--mainColor);
}



/* conatiner 7 */
.container7{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.cont7_content{
    width: 50%;
    margin-left: auto;
   margin-right: auto;
}
.links_cont7{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.links_cont7 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
align-items: center;
text-transform: uppercase;
flex-wrap: wrap;
}
.links_cont7 ul li{
    list-style-type: none;
    font-weight: 700;
}
.highLight{
    color: orange;
}

/* image Gallery */
.main_imageGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.imageGallery{
    width: 100%;
}
.imageGallery img{
    gap: 0px;
    margin-left: -4px;
    margin-bottom: -4px;
    width: 15%;
    height: 20%;
}
.imageGallery2{
    width: 100%;
}
.imageGallery2 img{
    margin-left: -3px;
    width: 15%;
    height: 20%;

}




@media (max-width:768px) {
    .content_conatiner4,.nestedfirstcontent6{
        width: 80%;
    }
    .multiimagesPortion{
         width: 70%;  
    }
    .specImage{
        padding-right: 40px;
    }
    .contentDiv,.boxesofStar {
        flex-direction: column;
    }
    .nestedcontainer5_1, .nestedcontainer5_2{
        width: 100%;
    }
    .nestedcontainer5_1{
        min-height: 50vh;
       padding-top: 100px;  
    }
    .nestedcontainer5_2 img{
        height: auto;
    }

    .cont7_content{
        width: 80%;
    }
    .links_cont7{
        padding-right: 23px;
        width: 100%;
    }

}
@media (max-width:500px) {
    .specImage{
        width: 100%;
        text-align: center;
        margin-right: -60px;
    }
    .container5 h1{
        left: 0px;
    }
}