/* form Our Process Portion Start from here */
.container8{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.containr8content{
    width: 50%;
    text-align: center;
}

.circle_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.cont_8{
    border-radius: 50%;
    padding: 55px 50px;
}
.nestedBox img{
    margin-top: 16px !important;
}

.content_cont8{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container 9 */

.conatiner9{
    width: 100%;
text-align: center;
margin-top: 20px;
padding-top: 20px;
background-color: lightgrey;
margin-bottom: 20px;
padding-bottom: 20px;
}
.cont9_content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.cards{
    display: inline-block;
    width: 100%;
    position: relative;
}
.childCards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-left: auto;
    margin-right: auto;
}
.textArea{
    /* width: 20%; */
    /* word-break: break-all; */
    margin-left: 35px;
}
.line{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.v1{
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    height: 320px;
    display: inline-block;
    position: absolute;
}
.childCards div{
    width: 40%;
    text-align: left;
}

.textArea h1 img{
    display: none;
}
.colorsDots_cont9{
    background-color: #febd19;
}
.colorsDot{
    background-color: #FE831C;
}

/* container10 */
.conatiner10{
    width: 100%;
    text-align: center;
}
.cont10_content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.counterImages{
    width: 100%;
}
.counterImages img{
    width: 80%;
}


/* conatiner11 */
.container11{
    width: 100%;
    background-color: #93C444;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: white;
    padding-bottom: 20px;
}
.cont_11content{
    text-align: center;
}

.form input{
   border: none;
   height: 35px;
   padding-left: 20px;
   font-size: large;
}
.btn_cont11{
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    width: 180px;
}
.container11 p{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.conatiner12{
    margin-top: 50px;
}

.con12_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}






























@media (max-width:1270px) {
    .v1{
        height: 350px;
    }
}
@media (max-width:1100px) {
    .v1{
        height: 390px;
    }
}
@media (max-width:1000px) {
    .v1{
        height: 440px;
    }
}
@media (max-width:850px) {
    .v1{
        height: 480px;
    }
}
@media (max-width:800px) {
    .v1{
        height: 540px;
    }
}
@media (max-width:768px) {
    .containr8content,.cont9_content{
        width: 80%;
    }
    .line,.v1{
        display: none !important;
    }
    .childCards{
        flex-direction: column;
    }
    .childCards div{
        width: 80% !important;
       justify-content: center;
       margin-left: auto;
       margin-right: auto;
    }
    .childCards >img{
        display: none;
    }
    .textArea h1 img{
        display: inline-block;
        margin-right: -25px;
    margin-top: -7px;
    }
    .textArea h1{
        margin-left: -30px;
    margin-bottom: -10px;
    }
    .form form{
        display: flex;
        flex-direction: column; 
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .form input,.btn_cont11{
          margin-top: 10px;
          width: 100%;
    }
    .btn_cont11{
        margin-left: 0px;
    }
    .container11 p{
        width: 80%;
    }
}



