/* conatiner 4 start here */
:root{
    --mainColor: #93C444;
}
.conatiner4{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.content_conatiner4{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.content_conatiner4 h1{
  text-transform: uppercase;
}
.content_conatiner4 h1 span{
    color: var(--mainColor);
}
.multiimagesPortion{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.specImage{
    text-transform: uppercase;
}
.specImage img{
    width: 60%;
}
.specImage p{
    padding-top: 20px;
}

@media (max-width:768px) {
    .content_conatiner4{
        width: 80%;
    }
    .multiimagesPortion{
         width: 70%;  
    }
    .specImage{
        padding-right: 40px;
    }
}
@media (max-width:500px) {
    .specImage{
        width: 100%;
        text-align: center;
        margin-right: -60px;
    }
}

