.nested_div{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}
.toggler{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 50px;
    height: 50px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}
.hamburger{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
     width: 60px;
     height: 60px;
     z-index: 2;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     background-color: #111;
     cursor: pointer;
}
.hamburger>div{
    position: absolute;
    width: 60%;
    height: .2rem;
    border-radius: 1.5px;
    background-color: #fff44f;
    cursor: pointer;
    transition: .4s;

}
.hamburger>div::before{
   content: '';
   position: absolute;
   top: -10px;
   left: 0px;
   width: 100%;
   height: .2rem;
   border-radius: 1.5px;
   background-color: #fff44f;   
   transition: .4s;
}
.hamburger>div::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: .2rem;
    border-radius: 1.5px;
    background-color: #fff44f;   
    transition: .4s;
}
.toggler:checked + .hamburger>div{
    transform: rotate(130deg);
} 
.toggler:checked + .hamburger>div::before,.toggler:checked + .hamburger>div::after{
    transform: rotate(90deg);
    top: 0;
    left: 0;
}

.toggler:checked ~ .menu{
    visibility: visible;
}
.toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-50%);
}
.toggler:checked ~ .menu> div > div{
    opacity: 1;
    transition: 0.9s;

}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    /* transition: 0.3s; */
}
.menu div{
    position: absolute;
    width: 1600px;
    height: 1600px;
    border-radius: 0%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    /* transition: 0.6s; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

}
.menu > div > div{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.9s;
}
.menu > div > div>ul > li{
    list-style-type: none;
}
.menu > div > div> ul > li > a{
    text-decoration: none;
    display: inline-block;
    margin: .5rem;
    font-size: 2.2rem;
    color: #fff;
    transition: 0.3s;
}
.menu > div > div> ul > li > a:hover{
    color: #fff44f;
}