/* it is checking the  */
.toggler:checked  ~ .menu{
   visibility: visible;
   transition: 0.5s;
}
.menu{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.menu div ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;   
   width: 100%;
   height: 100vh;
}
.menu div ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 2.2em;
    display: inline-block;
    text-align: center;
}
.menu div ul li a:hover{
    color: #fff44f;
}

