@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
}
.nesteddiv1{
    width: 40%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}
.nesteddiv1 img{
    width: 70%;
}
.form{
    margin-top: 50px;
}
.form label{
    display: block;
    color: white;
}
#email,#password{
    width: 20vw;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
   background-color: #181818;
   outline: none;
   border: 1px solid gray;
   padding-left: 10px;
   color: white;
   font-size: large;
   border-radius: 3px;
}
.btn{
    display: block;
    width: 20vw;
    height: 40px;
    background-color: #f96816;
    border-radius: 3px;
    border: none;
    border: 1px solid #f96816;
    font-weight: 500;
    transform: all 0.5s;
    color: white;
      font-size: large;
      cursor: pointer;
}

/* second Div */
.link{
    margin-top: 30px;
}
.link a{
    display: block;
    text-align: center;
    text-decoration: none;
   color: white;
   line-height: 40px;
}
.or{
    display: flex;
    /* flex: auto; */
    text-align: center;
}
.or > p{
    color: #fff;
}
.line{
    color: white;
    background-color: white;
    width: 80px;
    height: 1px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.button{
    margin-top: 30px;
}

.button a{
   text-decoration: none;
   color: white;
   border: 2px solid gray;
   padding: 10px 30px;
   border-radius: 5px;
}


.footer{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 100vh;
   margin-bottom: 20px;
   color: white;
   
}
.footerdiv{
   text-align: center;
   color: white;
}
.footerdiv a{
    color: #f96816;
}

/* /container2 */
.nesteddiv2{
    width: 60%;
    height: 100vh;
    background: url('./Images/login-bg.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nesteddiv2 h1{ 
   text-align: center;
   color: white;
   font-size: 45px;
   font-weight: 40;
}
span{
    /* font-weight: bolder; */
    font-weight: bolder;
    font-weight: 900;
}
.btn-footer a{
    border: 2px solid white;
}

@media (max-width:768px) {
    .nesteddiv1{
        width: 100%;
    
}
#email,#password,.btn{
    width: 50vw;
}   
.nesteddiv2{
    display: none;
}
}