@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    font-family: 'Quicksand', sans-serif;
}
header{
    background-color: #35424a;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    color: white;
    border-bottom: 5px solid #e8491d ;
}
header h1{
    letter-spacing: 1px;
}
header h1 span{
    color: #e8491d ;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   align-items: center;
   text-align: center;

}
header ul li{
    list-style-type: none;
    flex-basis: 0;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}

header ul li a{
    text-decoration: none;
    color: white;
}
header ul li a:focus{
    color: #e8491d !important;
}

@media (max-width: 600px) {
    header h1{
        text-align: center;
        padding: 10px;
    }
    header{
       flex-direction: column;
    }
    header ul li{
        padding-right: 10px;
    }
}



/* /section 2 */

.container1{
    background-image: url('/Images/showcase\ \(1\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    text-align: center;
}
.nestedDiv{
       width:80%;
    margin: auto;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
}

.nestedDiv h1{
    margin-top: 60px;
    font-size: 55px;
    color: white;
    margin-bottom: 10px;
}
.nestedDiv p{
    color: white;
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 600px) {
    .nestedDiv h1{
        font-size: 35px;
    }
}


/* containe2 */
.container2{
    background: #35424a;
    color: white;
    display: flex;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    /* width: 100%; */
}

form input[type=text]{
    padding: 4px;
    width: 240px;
    height: 40px;
    border: none;
    font-size: medium;
}
form input[type=text]:focus{
   outline: #e8491d;

}
.btn{
    padding: 10px 20px;
    font-size: medium;
    font-weight: bold;
    background-color: #e8491d;
    color: white;
    border: none;
    cursor: pointer;
    /* width: 100%; */
}

@media (max-width: 600px) {
   .container2{
      flex-direction: column;
      text-align: center;
   }

   .form{
    text-align: center;
    float: none;
       margin-top: 10px;
   }
   form input[type=text]{
       width: 100%;
   }
   .btn{
       margin-top: 10px;
       width: 100%;
   }
}


/* container3 */
.container3{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   text-align: center;
   flex-wrap: wrap;
   padding: 20px;
}
.nesteDiv1{
    width: 30%;
    text-align: center;
    padding: 10px;
}
.nesteDiv1 img{
    width: 100px;
    padding-bottom: 20px;
}
@media (max-width:786px) {
   .container3{
       flex-direction: column;
   }
   .nesteDiv1{
    width: 100%;
   } 
}