.fixed{
    position: fixed;
    width: 100%;
}


.content,.nestedcont4{
    width: 80%;
    height: 80vh;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
   align-items: center;
   text-align: center;
}

.content h1{
     font-size: 55px;
     padding: 10px;    
}
.content h3{ 
    font-size: 30px;
     padding: 10px;
}
.content p{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: large;
}
.Container2{
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
.nestedcont2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    width: 80%;
    margin: auto;
}
.nestedcont2>h1{
   font-size: 55px;
   margin: 10px;
}
.nestedcont2>h2,.container3 h1{
    font-size: 30px;
    margin: 20px;
}
.nestedcont2>p,.container3>p{
    font-weight: 200;
    font-size: larger;
    margin-top: 10px;
    padding-bottom: 35px;
}
.nestedcont2>a, .container3>a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-weight: bold;
    background-color: tomato;
    padding: 20px;
}

.imgscreen{
    width: 100%;
    margin-bottom: 10px;
}

.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;

}
.container3>a{
    background-color: navy;
}
.container4{
    width: 100%;
    height: 100vh;
    background-image: url('/Images/section-bg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    /* display: flex;
    flex-direction: column; */
}
.nestedcont4{
    display: flex;
    flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 80%;
}

.nestedcont4 > h1{
    font-size: xx-large;
    margin-bottom: 10px;
}
.nestedcont4 >p{
    margin-top: 20px;
    font-size: 25px;
}
.container5{
    width: 100%;
}
.nestedcont5{
    width: 80%;
    margin: auto;
    display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     /* text-align: center; */
}
.cardImg{
    width: 80%;
}
.contentlast h3{
    padding-bottom: 10px;
}
.contentlast> p{
    padding-bottom:20px;
}
.contentlast a{
    text-decoration: none;
}
.contentlast div{
    margin-bottom: 10px;
}
.line{
    border: 1px solid gray;
    width: 100%;
}

.footer{
    width: 100%;
    height: 5vh;
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width:768px) {
    .nestedcont4 > h1{
        font-size: x-large;
        margin-bottom: 6px;
    }
    .nestedcont4 >p{
        margin-top:15px;
        font-size: 20px
    }
    .nestedcont5{
        flex-direction: column;
    }
}
@media (max-width:290px) {
    .nestedcont4{
        height: auto;

    }   
}