@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
   height: 100vh;
   font-family: 'Quicksand', sans-serif;
   overflow-x: hidden;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container_1{
    background: url('/Images/showcase.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(10px);
    transition: all 1000ms;
    display: block;
}
.container_1:hover{
    filter: blur(0px);
}
.nestedcont_1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   z-index: 1 ;
   width: 100%;
  height: 100%;

}
.container_1 p{
    width: 50%;
    color: white;
    font-size: larger;
    font-weight: 700;
    /* z-index: 10 !important; */
}
.container_2{
    width: 100%;
    background-color: black;
    padding: 20px;
}
.nestedcont_2{
    /* width: 100vw; */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
}
.nestedcont_2 div{
    width: 30vw;
}
.nestedcont_2 div i{
    font-size: 4em;
    
}
.nestedcont_2 div p{
    /* width: 50%; */
    text-align: center;
   padding: 10px;
}
.nestedcont_2 div h1{
    font-size: large;
    margin: 10px;
}
.container_2  div{
    color: white;
}
@media (max-width:550px) {
    .nestedcont_2 div{
        width: 100vw;
        margin-top: 20px;
    }   
}

.container_3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;

}
.container_3 div{
    width: 50%;
    margin-left: 50px;
}
.container_3 div p{
   width: 50vw;
}

.container_4_footer{
    width: 100%;
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}
.container_4_footer a{
    text-decoration: none;   
    color: white;
}
.container_4_footer a:hover{
    color: yellow;
}



@media (max-width:550px) {
    .container_1 p{
        width: 85%;
    }
    .nestedcont_2 div{
        width: 100%;
        margin-top: 20px;
    }   
    .container_3 div{
       margin-left: 0px;    
       width: 100%;
       /* align-items: center;
       align-self: center; */
       margin-top: 20px;
    }
    .container_3 div p{
        width: 100%;
     }
}