@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}
body{
   width: 100%; 
   height: 100vh;
}
.container{
    min-width: 100%;
    min-height: 100vh;
}
.sub_container{
    text-align: center;
    color: white;
    min-height: 30em;
}
.bgimage{
    position: absolute;
    background: rgba(0, 0, 0, 0.5) url('./Images/BGHeader.png');
    background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-blend-mode: darken;
     width: 100%;
     min-height: 30em;
     z-index: -1;
}
.contentHeader{
     padding: 0em 1.4em;
}
.contentHeader h1{
    padding-top: 130px;
    padding-bottom: 20px;
    font-size: 2.2em;
}
.contentHeader p{
    margin: 0;
    padding-bottom: 1.2em;
    font-weight: 600;
}
.contentHeader a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: slategray;
    color: white;
    letter-spacing: 0.1em;
    /* transform: 0.5s; */
    transition: 0.3s;
}
.contentHeader a:hover{
    letter-spacing: 0.3em;
}



/* seocnd part */
.sectionB{
    text-align: center;
    /* margin: 2px 20px; */
    padding:  25px 20px;
    background-color: #eaeaea;
    width: 100%;
    margin: 0 auto;
}
.sectionB h2,.sub_container3 > h2{
    font-weight: bolder;
    font-size: 1.8em;
    padding-bottom: 1em;
}
.contentCourse{
    columns: 2;
    column-gap: 2em;
}
@media(max-width:600px){
    .contentCourse{
        columns: 1;
    }
}


/* third part */
.sectionC{
    background-color: #333;
    text-align: center;
    padding: 20px;
}
.sub_container3 h2{
    color: white;
}
.sub_container3 ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.sub_container3 ul li{
    list-style-type: none;
    width: 32%;
    background-color: white;
    color: black;
}
.cards img{
   display: block;
   width: 100%;
   height: auto;
}
.content-Card{
    padding: 2em 1em;
}
.content-Card > h3{
    font-weight: bold;
    font-size: larger;
    padding-bottom: 0.5em;
}

@media (max-width: 700px) {
    .sub_container3 ul{
        grid-column: 2/4;
    }
}
@media (max-width:684px) {
    .sub_container3 ul li{
    width: 100%;
    margin-bottom: 1.2em;
    }
}
/* fourth part */
.sectionD{
    text-align: center;
    padding: 20px;
}
.sub_container4 h2{
    padding-bottom: 1em;
}

/* fifth part */
.sub_container5{
    display: flex;
    width: 100%;
    color: white;
}
.box1{
    background-color: #2690d4;
    text-align: center;
    padding: 25px;
}
.box1 p{
    padding: 10px;
    padding-bottom: 10px;
}
.box2{
    background-color: #333;
    text-align: center;
    padding: 25px;
    
}
.box2 p{
    padding: 11px;
}





/* sixth */
.sectionF{
    background-color: black !important;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.githubId a,.linkdinID a{
    text-decoration: none;
    color: white;
    font-size: larger;
    text-align: center;
}
.githubId a:hover,.linkdinID a:hover{
    color: yellow;
    transition: 0.5s;
}
@media (max-width: 700px) {
    .sub_container5{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .sectionF{
        display: block;
    }
}