.main_contRegister{
    min-height: 25vh;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.text_register{
    background-image: linear-gradient(to right, #a1d3b0, #f6f1d3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 40px;
}
.text_register h2,.informationDiv h2,.informationDiv h4{
    font-size: xx-large;
    color: #648880;
}
.text_register p{
    width: 80%;
    font-size: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.content_Register{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.content_Register div{
    flex: 1;
}
.informationDiv{
    color: #888;
}
.informationDiv h4{
    font-size: larger;
    padding-bottom: 10px;
}
.informationDiv p{
    padding-bottom: 30px;
}
.informationDiv h2{
  padding-bottom: 10px;
}
.informationDiv ul{
    list-style-type: square;
    padding-left: 20px;
}
.form{
    flex: 0.6 !important;
    margin-bottom: 10px;
}

.form form{
     display: flex;
     flex-direction: column;
     line-height: 35px;
}
.form form input,#Comments,#passes{
    height: 40px;
    width: 80%;
    padding-left: 10px;
    font-size: large;
    border-radius: 6px;
     border: 1px solid gray;
}
#passes{
width: 20%;
}
.btn{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #648880;
    margin-top: 10px;
    width: 40%;
    border-radius: 6px;

    
}
@media (max-width:768px) {
    .content_Register{
        flex-direction: column;
        padding-left: 0px;
        width: 90%;
    }   
    .informationDiv{
        width: 80%;
    }
}
@media (max-width:500px) {   
    .informationDiv h2{
        font-size: x-large !important;
    }
}