.main_contVenue{
    min-height: 25vh;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.text_venue{
    background-image: linear-gradient(to right, #a1d3b0, #f6f1d3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 40px;
}
.text_venue h2{
    font-size: xx-large;
    color: #648880;
}
.text_venue p{
    width: 80%;
    font-size: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.addressDiv{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.mapDiv{
    width: 50%;
}
.nestedDivAdd{
    line-height: 30px;
    color: #888;
}
.nestedDivAdd h2{
    color: #648880;
}
.email{
    color: #888;
    text-decoration: none;
    border-bottom: 1px dotted #888;
}
.paraGap{
    margin-bottom: 20px;
}
.mapDiv iframe{
    width: 100%;
    height: 300px;
}
@media (max-width:867px) {
    .addressDiv{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nestedDivAdd{
        width: 90%;
        text-align: center;
        margin-top: 30px;
        font-size: large;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 10px;
    }
    .mapDiv{
        order: -1;
        width: 90%;
    }
    .mainDiv2{
        /* order: 2; */
    }
    .text_venue p{
        width: 100%;
    }
    .paraGap{
        margin-bottom: 0px;
    }
}